/* Native Elements */
* {
  box-sizing: border-box;
  color: var(--tiana-off-white);
  font-family: 'mystregular', sans-serif;
}
body {
  display: grid;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(39,23,14);
  background:
    linear-gradient(
      90deg, rgba(39,23,14,1)
      0%, rgba(190,120,40,1)
      50%, rgba(70,28,6,1) 100%
    );
  min-height: 100%;
  grid-template-rows: auto 1fr auto;
  font-size: 16px;
}
header {
  text-align: center;
  padding: 1rem 0;
  margin: 0;
  width: 100%;
  background: #000;
}
main.mainSubSection {
  height: 100vh;
}
footer {
    text-align: center;
    padding: 1rem 0;
    margin: 0;
    width: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(36,113,9,1) 50%, rgba(28,54,3,1) 100%);
}
img {
  height: 128px;
  width: 128px;
}
h1 {
  font-size: var(--h1-font-size);
  letter-spacing: var(--h1-letter-spacing);
}
h2 {
  font-size: var(--h2-font-size);
  letter-spacing: var(--h2-letter-spacing);
}
h3 {
  font-size: var(--h3-font-size);
  letter-spacing: var(--h3-letter-spacing);
}
h4 {
  font-size: var(--h4-font-size);
  letter-spacing: var(--h4-letter-spacing);
}
h5 {
  font-size: var(--h5-font-size);
  letter-spacing: var(--h5-letter-spacing);
}
h6 {
  font-size: var(--h6-font-size);
  letter-spacing: var(--h6-letter-spacing);
}

p, ul, ol {
  font-size: 1rem;
  letter-spacing: var(--body-element-letter-spacing);
}

/* Class Defs */
.linkPanelHeader {
  background-color: var(--tiana-off-white);
  color: #27170e;
  width: 85%;
  margin: 0.25rem auto .5rem auto;
}
.pageLinkingPanel {
  padding: 5px;
  box-shadow:
    rgb(162, 96, 23) 3px 3px 6px 0 inset,
    rgba(216, 179, 112, 0.5) -3px -3px 6px 1px inset;
  width: 60%;
  margin: 0 auto;
  height: 200px;
  overflow-y: hidden;
}
.radioStatic {
  align-content: center;
  padding: 1px;
  background-image: url("assets/images/main-site/radioStatic.gif");
  height: inherit;
}
.deadLinkingPanel {
  background-image: url("assets/images/main-site/deadRadioStatic.gif");
  background-color: slategray;
  cursor: not-allowed;
}
.linkToDir {
  background-color: black;
  opacity: 0.75;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.grow:hover {
  transition: all .2s ease-in-out;
  transform: scale(1.1);
}
.bookTooltip, .bookTooltip:hover {
  width: 10%;
  background: transparent;
  border: transparent;
  font-size: 2rem;
  margin: 0;
  padding: 0;
}
.main__siteHeader {
  font-size: 3.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  overflow: hidden;
}
.bookP_1, .bookP_2 {
  color: #461c06;
  margin: .5rem 4rem;
  text-align: left;
  font-size: 1.45rem;
}
.bookP_1_small {
  color: #461c06;
  margin-left: 1rem;
  text-align: center;
  font-size: 1.1rem;
}
.bookPQuote_1 {
  color: #461c06;
  font-size: 1.45rem;
  margin: 1rem 1rem 0 4rem;
  text-align: left;
}
.bookPQuoteAuthor {
  color: #461c06;
  font-size: 1.25rem;
  margin-right: 4rem;
  text-align: right;
}
.main-site__content {
  background-image: url("assets/images/main-site/tableTop.jpg");
  height: 100%;
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
}
.mainSiteContentPanel {
  --bs-gutter-x: 0;
  height: 100%;
}
.bookOfHTML, .bookOfCSS, .bookOfDataVisualizations,
.bookOfAccessibility, .bookOfOWASP, .emptyLinkingBook {
  background-image: url("assets/images/main-site/oldBook.png");
  height: 600px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.siteFooter {
  font-size: 1.5rem;
}
.directoryLink {
  text-decoration: none;
  height: inherit;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.directoryLinkHeader {
  color: #27170e;
  font-size: var(--h6-font-size);
  width: 75%;
  margin: 0 auto;
  text-align: center;
}
.linkToMainWebsite {
  color: var(--book-cover-1);
}
.linkingBookHeader {
  color: var(--book-cover-3);
  font-size: var(--h5-font-size);
  width: 90%;
  margin: 3rem 0 1rem 4rem;
  text-align: left;
}

/* Ids */
#waspLogo {
  filter: invert(100%);
}
