.pageContent {
  height: inherit;
  padding-right: 0;
  margin-right: 0;
  background: rgb(190,120,40);
  background: linear-gradient(90deg, rgba(190,120,40,1) 0%, rgba(118,53,10,1) 6%, rgba(39,23,14,1) 13%);
}

.rowContainer {
  height: inherit;
  padding-right: 0;
  margin-right: 0;
  margin-left: 0;
}

.navigationContent {
  background-image: url("../../images/main-site/oldBook.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  height: 100%!important;
  margin-right: 0;
}

.page__h2 {
  font-size: 3rem;
  color: var(--book-cover-3);
  overflow-y: hidden;
  text-align: center;
}

.page__intro_1 {
  font-size: 1.5rem;
  padding-right: 4rem;
  color: var(--book-cover-3);
  overflow-y: hidden;
}

.page__intro_2 {
  margin-left: 2rem;
  font-size: 1.5rem;
  padding-right: 5rem;
  color: var(--book-cover-3);
}

#linksDirectory {
  list-style-type: upper-roman;
  margin: 0 auto 1.5rem auto;
}

#linksDirectory>li {
  display: list-item;
  list-style-position: inside;
}

#linksDirectory>li.linkToPage > a,
#linksDirectory>li.linkToPage::marker {
  font-size: 1.5rem;
  color: var(--book-cover-3);
}

#linksDirectory>li.linkToPage:hover > a:hover,
#linksDirectory>li.linkToPage:hover::marker {
  font-size: 1.65rem;
  color: var(--book-cover-4);
  text-decoration: underline;
}

.page__footer {
  text-align: center;
  width: 75%;
  margin: 0 auto 1rem auto;
  font-size: 1.5rem;
  color: var(--book-cover-3);
}

#tableRest {
  background-image: url("../../images/main-site/tableTop.jpg");
  height: inherit;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  padding-left: 0;
  margin-right: 0;

  width: 75%;
}

.linkToPage>a {
  text-decoration: none!important;
}

.linkToPage>a:hover {
  text-decoration: underline!important;
}
