* {
  color: var(--book-cover-4);
}

.expandMenuBtn {
  position: fixed;
}

/* Set Page Background */
.topicContents {
  background-image: url("../../../../../assets/images/main-site/oldPaper.jpg");
  background-position: top;
  background-repeat: repeat;
  background-size: cover;
  color: var(--book-cover-4);
}

.material-symbols-outlined {
  color: var(--tiana-off-white);
}

#pagePreambles {
  margin: 0 auto;
  width: 75%;
}

.pagePreamble_1 {
  font-size: var(--h6-font-size);
  margin: 2rem auto 1rem auto;
  padding-bottom: 1rem;
}

.pagePreamble_2 {
  font-size: var(--h6-font-size);
  margin-bottom: 2rem;
}

.pagePreamble_1, .pagePreamble_2 {
  color: var(--font-color-old-page-text);
}

.generalContainer {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.sectionHeader > p {
  color: var(--font-color-old-page-text);
  font-size: var(--h6-font-size);
}


#htmlBasics,
#basicPageStructure,
#htmlStructureCodeExample {
  text-align: left;
  margin-bottom: 4rem;
}

.tablePanel1 > p {
  color: var(--font-color-old-page-text);
  font-size: var(--h6-font-size);
}

.tablePanel2 > p {
  color: var(--font-color-old-page-text);
  font-size: var(--body-font-size-3);
}

.tablePanel3 > ul > li {
  color: var(--font-color-old-page-text);
  font-size: var(--body-font-size-3);
}

.tablePanel2, .tablePanel3 {
  background: rgba(169, 121, 66, .65);
}

#htmlStructureCodeExample {
  margin-bottom: 2rem;
}

code {
  color: var(--split-complimentary-3);
}

.tablePanel3 > p {
  font-size: var(--body-font-size-4);
}

pre {
  font-size: 1.25rem;
  background-color: #000;
  color: red;
  margin: 0;
}

.card-link {
  color: #A9428A;
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: bold;
}

.card-link:hover {
  color: #A9428A;
  font-size: 1.65rem;
  text-decoration: underline;
}

.linkToMainWebsite {
  color: var(--tiana-off-white);
}

.hrStyle {
  color: var(--book-cover-4);
  border-width: 3px;
  border-color: inherit;
  opacity: .75;
}
