.pageContent {
  height: inherit;
  padding-right: 0;
  margin-right: 0;
  background: rgb(190,120,40);
  background: linear-gradient(90deg, rgba(190,120,40,1) 0%, rgba(118,53,10,1) 6%, rgba(39,23,14,1) 13%);
}

.rowContainer {
  height: inherit;
  padding-right: 0;
  margin-right: 0;
  margin-left: 0;
}
